
.videoContainer video {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100vw;
  object-fit:cover;
}
.pageTitle {
  font-size: 72px;
  color: #fff;
}
.sideBanner {
  transform: rotate(90deg);
  transform-origin:left;
  margin-left: 2rem;
  font-size: 34px;
  height: 10%;
  background-color: #FE4A49;
  letter-spacing: 5px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.videoWrapper {
  height: 100%;
  background-color: #FE4A49
}

.imgWrapper img {
  max-width:100%;
  max-height:100%;
}
.tomatoBg{
  background-color: #FE4A49
}
.tomatoText {
  color: #FE4A49;
}
.videoTitle {
  font-size: 36px;
}

.videoDescription {
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col {
  padding: 0 !important;
  margin: 0 !important;
}
#soundCloudPlayer {
  width: 40vw;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.moreButton {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}
.moreButton:hover {
  text-decoration: none;
}
.aboutBg {
  background: url('../../Assets/img/Mother.jpg')no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.videoBg {
  background: url('../../Assets/img/contact-bg.jpg')no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contactBg {
  background: url('../../Assets/img/contact-bg.jpg')no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tomatoText {
  color: #FE4A49;
  padding: 0 5px;
  text-decoration: none;
}
.category, .category:visited {
  text-decoration: none;
  position: relative;
  color: #FE4A49;
  cursor: pointer;
}
.category:after, .category:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #FE4A49;
  transition: .5s;
}
.category:hover:after, .category:visited:hover:after {
  width: 100%;
  color: black;
}
.category {
  font-size: 20px;
  padding-right: 2rem;
  font-weight: 300;
}
.category:hover {
  font-weight: 700;
  color: #FE4A49;
}



.footerIcon {width: 40px;}
.contactCard {
  height: 70px;
  width: 240px;
  -webkit-box-shadow: 8px 9px 5px -8px rgba(145,145,145,1);
  -moz-box-shadow: 8px 9px 5px -8px rgba(145,145,145,1);
  box-shadow: 8px 9px 5px -8px rgba(145,145,145,1);
}
.contactCard:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  
}
footer {
  height:10vh;
  width: 100vw;
}
.contactBanner {
  height: auto;
  max-height: 600px;
}
#nav_bar {
  z-index: 3;
  padding: 0;
}