/* *{background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;} */
.videoContainer video {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100vw;
  object-fit:cover;
}
.pageTitle {
  font-size: 72px;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsImage {
  width: auto;
  height: 400px;
}
.sideBanner {
  display: flex;
  align-items:flex-end;
  justify-content:center;
  writing-mode:vertical-rl;
  letter-spacing: 5px;
  border-radius: 10px;
}
.bannerStyle{
  background-color: #FE4A49;
  border-radius: 10px;
  padding: 1px;
}

.videoWrapper {
  height: 100%;
  background-color: #FE4A49
}

.imgWrapper img {
  max-width:100%;
  max-height:100%;
}
.tomatoBg{
  background-color: #FE4A49
}
.newsTitle { 
  font-size: 33px;
  font-weight: 600;
}
.tomatoText {
  color: #FE4A49;
}
.videoTitle {
  font-size: 36px;
}

.videoDescription {
  font-size: 30px;
}
.col {
  padding: 0 !important;
  margin: 0 !important;
}
#soundCloudPlayer {
  width: 40vw;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.moreButton {
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}
.moreButton:hover {
  text-decoration: none;
}
.aboutBg {
  background: url('../../Assets/img/Mother.jpg')no-repeat center center;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.videoBg {
  background: url('../../Assets/img/contact-bg.jpg')no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.radioBg {
  background: url('../../Assets/img/Radio.jpg')no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.newsBg {
  background: url('../../Assets/img/panda.jpg')no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contactBg {
  background: url('../../Assets/img/contact-bg.jpg')no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tomatoText {
  color: #FE4A49;
  padding: 0 5px;
  text-decoration: none;
}
.category, .category:visited {
  text-decoration: none;
  position: relative;
  color: #FE4A49;
  cursor: pointer;
}
.category:after, .category:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #FE4A49;
  transition: .5s;
}
.category:hover:after, .category:visited:hover:after {
  width: 100%;
  color: black;
}
.category {
  font-size: 20px;
  padding-right: 2rem;
  font-weight: 300;
}
.category:hover {
  font-weight: 700;
  color: #FE4A49;
}
.latestWrapper {
  padding: 0;
  margin: 0;
  height: 88vh;
  width: auto;
}
.rightToBottom {
  /* position: absolute !important;
  right: 5% !important;
  bottom: 18% !important; */
}
.hoverHere:hover {
  cursor: pointer;
}

.footerIcon {width: 30px;}
.contactCard {
  height: 70px;
  width: 240px;
  -webkit-box-shadow: 8px 9px 5px -8px rgba(145,145,145,1);
  -moz-box-shadow: 8px 9px 5px -8px rgba(145,145,145,1);
  box-shadow: 8px 9px 5px -8px rgba(145,145,145,1);
}
.contactCard:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  
}
footer {
  width: 100vw;
}
.contactBanner {
  height: auto;
  max-height: 600px;


}
#nav_bar {
  z-index: 3;
  padding: 0;
  font-size: 15px;
}
.newsWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.newsImage {
  width: 100%;
  box-shadow: 1px 1px 6px 1px black

}
.newsDescription {
  background-color: white;
  min-height: 300px;
  width: 100%;
  position: absolute;
  left: -20%;
  box-shadow: 0px 1px 11px 1px #0000008a;
  padding: 10px;

}
.row-reverse-margin {
  flex-direction: row-reverse;
}
.left-margin {
  position: absolute;
  left: 20%;
}
.dateText {
  font-size: 20px !important; 
}